<!DOCTYPE html>
<html>
  <head>
    <title>Get Moar Steps - Today's Stats</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Get Moar Steps: How Am I Doing?</h1>
    <div class="container">
      <div class="status">
        Hey, pretty good day so far!
      </div>
      <div class="fbinfobox">
        <div class="fbdetail">
          <b><%= (summary.steps/goals.steps*100).toPrecision(2) %>%</b> of your daily goal.<br/>
          <i>(<%= (daypercent).toPrecision(2) %>% of today is gone)</i><br/>
          Fairly/high activity time: <b><%= (summary.veryActiveMinutes+summary.fairlyActiveMinutes) %> min</b><br/>
          Sedentary time: <b><%= (summary.sedentaryMinutes/60).toFixed(2) %> hrs</b>
        </div>
        <div>
          <div class="steps"><%= (summary.steps).toString().split( /(?=(?:\d{3})+(?:\.|$))/g ).join( "," ) %></div>
          <div style="">steps so far today.</div>
        </div>
      </div>

      <div id="location-info">
        <article>
          <p>Location:</h4> <span id="status">finding...</span></p>
        </article>
      </div>
      <div id="near-info">
        <form name="search-near" id="search-near" class="form-horizontal" action="#" onsubmit="return searchNearMe();">
          <div class="form-group">
            <label for="distance">Distance:</label>
              <select id="distance" class="styled-select" name='distance'>
                <option value="5" selected>5 Minutes</option>
                <option value="10">10 Minutes</option>
                <option value="15">15 Minutes</option>
                <option value="20">20 Minutes</option>
              </select>
          </div>
          <div class="buttonContainer">
            <button class="btn btn-primary" type="button" id='search' onclick="return searchNearMe();">Search</button>
          </div>
          <input type="hidden" id="poslat" name="poslat" value=""/>
          <input type="hidden" id="poslon" name="poslon" value=""/>
        </form>
      </div>
 	</div>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/js/iot.js"></script>
  </body>
</html>
